.infoboks {
  text-emphasis: none;
  background-color: #E0DDCF;
  margin: 10% 20% 1%;
  padding: 5% 10% 5% 10%;
  align-items: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type="submit"] {
    background-color: #B8292F;
    color: white;
    padding: 2% 15%;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 5% 14%;
    font-family: sans-serif;
  }
  
  input[type="submit"]:hover {
    background-color: #8A1A1F;
  }
  
  .kontakt-container {
    border-radius: 5px;
    padding: 10% 25%;
  }
  
  .col-25 {
    
    width: 30%;
    margin-top: 4px;
  }
  
  .col-75 {
    width: 90%;
    margin-top: 4px;
  }
  
  /*tablet*/
  @media screen and (min-width: 768px) {
    .infoboks {
      height: 20%;
      margin: 10% 30% 10%;
      padding: 2% 8% 2% 8%;
      align-items: center;
  }

  .col-25 {
    align-items: center;
    width: 40%;
    margin-top: 2px;
    margin-left: 25%;
  }

  .col-75 {
    align-items: center;
    width: 100%;
    margin-top: 2px;
    margin-left: 25%;
  }

  input[type="submit"] {
    margin-left: 24%;
  }
  

}
  /*smol pc*/
  @media screen and (min-width: 992px) {

  }

  /*huge*/
  @media screen and (min-width: 1280px) {

    .infoboks {
      height: 200px;
      margin: 10% 20% 10%;
      padding: 2% 5% 2% 5%;
      align-items: center;
      float: right;
  }
  .infoboks p {
    font-size: 15px;
  }

  .col-25 {
    font-size: 20px;
    float: left;
    width: 100%;
    margin-top: 2px;
    margin-left: 10%;
  }

  .col-75 {
    float: left;
    width: 100%;
    margin-top: 2px;
    margin-left: 10%;
  }

  input[type="submit"] {
    float: left;
    padding: 2% 15%;
    margin: 5% 14%;
  }

  }
  