.infoboks {
  background-color: #E0DDCF;
  margin: 0% 10% 1%;
  padding: 30% 10% 5% 10%;
  align-items: center;
}

.label {
  color: black;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  input[type=send] {
    background-color: #B8292F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=send]:hover {
    background-color: #8A1A1F;
  }
  
 
  .containerkontakt {
    margin: 10% 5% 5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  @media screen and (max-width: 768px) {
    .infoboks {
      height: 100%;
      padding: 2% 5% 2% 5%;
      margin: 10% 25%
    }
  .infoboks p {
    font-size: 15px;
  }

}


  @media screen and (min-width: 1280px) {
    .infoboks {
      height: 100%;
      padding: 2% 5% 2% 5%;
      margin-top: 10%;
      float: right;
  }
  .infoboks p {
    font-size: 15px;
  }

  .containerkontakt {
  margin-right: 50%;
  margin-left: 5%;
  padding: 5% 5% 5% 5%;
}
}
