//Top of page

.boxmenu-time1 {
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.boxmenu-time2 {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    height: 25px;
    justify-content: center;
}

.time-text-clicked {
    width: 90px;
    border: 1px solid #8A1A1F;
    padding: 3px;
    text-align: center;
    background-color: #8A1A1F;
    color: #FFF;
    line-height: 20px;
    font-size: 15px;
    margin-right: 10px;
  }

  .time-text-not-clicked1 {
    width: 90px;
    height: 20px;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    background-color: #FFF;
    color: black;
    font-size: 15px;
    margin-right: 10px;
  }

  .time-text-not-clicked2 {
    width: 140px;
    height: 20px;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    background-color: #FFF;
    color: black;
    font-size: 15px;
    margin-right: 10px;
  }

  .menukortimg {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.menukort-subtitle {
    text-align: center;
    padding-top: 15px;
    color: black;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.boxmenu-location {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    height: 25px;
    justify-content: center;
}

.location-text-clicked {
    width: 90px;
    height: 20px;
    border: 1px solid #8A1A1F;
    padding: 3px;
    text-align: center;
    background-color: #8A1A1F;
    color: #FFF;
    line-height: 20px;
    font-size: 10px;
    margin-right: 10px;
  }

  .location-text-not-clicked {
    width: 90px;
    height: 20px;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    background-color: #FFF;
    color: black;
    font-size: 10px;
    margin-right: 10px;
    line-height: 20px;
  }

  .boneshovedretterimg {
      padding-top: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
  }

  .bonesspecialiteterimg {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .boxmenu-mad {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 5%;
}

.mad-text-clicked {
    width: 120px;
    height: 25px;
    border: 1px solid #8A1A1F;
    padding: 3px;
    text-align: center;
    background-color: #8A1A1F;
    color: #FFF;
    line-height: 25px;
    font-size: 12px;
    margin-right: 25px;
  }

  .lines {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .hovedretter-title {
      padding-top: 20px;
      text-align: center;
      color: #8A1A1F;
  }

  //Top of page slut


  //Hovedretter start
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background-color: #8A1A1F;
    border-radius: 25px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    color: #FFF;
  }